@tailwind base;
@tailwind components;
@tailwind utilities;

.react-calendar{
    width: 100% !important;
    border:none !important;
    font-family: "Inter", sans-serif !important;
    color: #4e4e4e !important;
}

.react-calendar__tile--active {
    background: #C3EBFA !important;
    color: black !important;
    font-weight: 600 !important;
}

.react-calendar__navigation__label__labelText{
    font-weight: 600 !important;
}